[global]
   workgroup = WORKGROUP
   security = user
   map to guest = never

[${SAMBA_SHARE_NAME}]
   path = /shared
   browseable = yes
   writable = yes
   valid users = ${SAMBA_USERS}
   create mask = 0664
   directory mask = 0775
