version: "3.9"

services:
  samba:
    build: ./samba
    container_name: samba
    restart: unless-stopped
    ports:
      - "139:139"
      - "445:445"
    volumes:
      - "${SAMBA_STORAGE_PATH}:/shared"
      - "./samba/smb.conf:/etc/samba/smb.conf:ro"
      - "./users.conf:/etc/samba/users.conf:ro"
    env_file: .env

  webdav:
    image: bytemark/webdav
    container_name: webdav
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - "${WEBDAV_STORAGE_PATH}:/var/lib/dav"
      - "./webdav/users.passwd:/user.passwd:ro"
    environment:
      AUTH_TYPE: "${WEBDAV_AUTH_TYPE}"