# Path ke folder storage di host
# Samba dan WebDAV sengaja dipisah
SAMBA_STORAGE_PATH=/srv/samba
WEBDAV_STORAGE_PATH=/srv/webdav

# WebDAV auth type
WEBDAV_AUTH_TYPE=Basic

# Password per user — format: SAMBA_USERNAME_PASSWORD
# Tambahkan baris baru setiap kali ada user baru
SAMBA_MAMUFLIH_PASSWORD=changeme
